body {
    background-image: url("/images/cozy.gif");
}

.buttons {
    text-align: center;
    padding-top: 8em;
}

.profile {
    background-size: cover;
    margin: auto;
    width: 30%;
    border: 5px solid #0a528d;
    padding: 10em;
    border-radius: 15em;
}

.b {
    display:inline-block;
    width:20em;
    height:5em;
    background-color:rgb(8, 113, 139);
    border-radius: 2em;
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', cursive;
}  
